.tarefas__container {
  background-color: var(--cor-claro-componente);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
}

.texto__tarefa {
  font-family: var(--fonte-principal);
  font-size: var(--fonte-tamanho-texto);
  color: var(--cor-fonte);
  padding: 0.1em;
}

.texto__tarefa-feita {
  font-family: var(--fonte-principal);
  font-size: var(--fonte-tamanho-texto);
  color: var(--cor-fonte);
  padding: 0.1em;
  text-decoration: line-through;
}

.texto__etapa {
  font-family: var(--fonte-principal);
  font-size: var(--fonte-tamanho-pq);
  color: var(--cor-fonte);
  padding: 0.2em;
}

.texto__etapa-feita {
  font-family: var(--fonte-principal);
  font-size: var(--fonte-tamanho-pq);
  color: var(--cor-fonte);
  padding: 0.2em;
  text-decoration: line-through;
}
