html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  border: none;
  background-color: unset;
}

input {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

textarea {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

select {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

/*CSS Global*/

@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

:root {
  /*fonte*/
  --fonte-principal: "Pathway Gothic One", sans-serif;
  --fonte-tamanho-titulo: 3rem;
  --fonte-tamanho-subtitulo: 2rem;
  --fonte-tamanho-texto: 1.5rem;
  --fonte-tamanho-pq: 1rem;

  /*cor*/
  --cor-fonte: #f0ead6;
  --cor-fonte-hover: #d8cbae;
  --cor-fonte-sombra: #080b38;

  --cor-fundo-input: #d8cbae;
  --cor-fonte-input: #080b38;

  --cor-claro-componente: #0a2b86;
  --cor-escuro-componente: #080b38;

  --cor-fundo-escuro: #5b1261;
  --cor-fundo-claro: #bb25c9;
}

.titulo {
  font-family: var(--fonte-principal);
  font-size: var(--fonte-tamanho-titulo);
  color: var(--cor-fonte);
  padding: 0.5em;
}

.subtitulo {
  font-family: var(--fonte-principal);
  font-size: var(--fonte-tamanho-subtitulo);
  color: var(--cor-fonte);
  padding: 0.5em;
}

.texto {
  font-family: var(--fonte-principal);
  font-size: var(--fonte-tamanho-texto);
  color: var(--cor-fonte);
  padding: 0.5em;
}

html {
  background: linear-gradient(
    270deg,
    var(--cor-fundo-escuro),
    var(--cor-fundo-claro)
  );
}

.app__cabecalho {
  background-color: var(--cor-escuro-componente);
}

.app__container {
  width: 50%;
  margin: 2em auto;
  padding: 0.5em;
  background-color: var(--cor-escuro-componente);
  border-radius: 5px;
}

.cont__header,
.folder__container {
  text-align: center;
}

.input__geral {
  color: var(--cor-fonte-input);
  background-color: var(--cor-fundo-input);
  padding: 0.25em;
  border-radius: 10px;
  width: 150%;
}

.btn__geral {
  background-color: var(--cor-claro-componente);
  margin: 0.5em;
  border-radius: 10px;
  cursor: pointer;
  transition: 200ms;
}

.btn__geral:hover {
  color: var(--cor-fonte-hover);
  transform: scale(1.05);
  text-shadow: 3px 2px var(--cor-fonte-sombra);
}

.btn__geral:active {
  transform: scale(0.95);
}

.icon__style {
  color: var(--cor-fonte);
  margin-right: 0.5em;
  cursor: pointer;
  font-size: var(--fonte-tamanho-texto);
  transition: 200ms;
}

.icon__style:hover {
  color: var(--cor-fonte-hover);
}
